# .gitignore
.venv/
__pycache__/
*.pyc
uploads/
bot_session.session
__pycache__/
messages.db
bot_session.session
uploads/*
server/static/voice/*
bot/messages.db
bot_session.session-journal
bot_session_temp.session
mobile/
mobile/*
server/test_app.py
delete_file_db.py
.vscode/
*.mp3
*.ogg
*.log