<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Голосовые сообщения</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="wrapper">
        <h1>🗣️ Последние голосовые сообщения</h1>
        <button id="autoplay-toggle">🔊 Автопрослушивание: ВКЛ</button>
        <div id="messages"></div>
        <script src="/static/script/script.js"></script>
    </div>
</body>
</html>